@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Comfortaa", sans-serif;
}

html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}
@layer components{
  .location-icon{
    height: 16px;
  }
  
  .header-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
  }
  nav{
    box-shadow: 0 0 95px 10px rgba(66, 139, 193, 0.1);
  }
  .nav-links{
    font-size: 15px;
  }
  .nav-links a:hover, .active{
    background: linear-gradient(to top, #C67250, #9B5B9A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .mobile-navbar-item{
    @apply sm:block md:hidden
  }
  .active::after{
    content: '';
    position: absolute;
    bottom: -29px;
    left: -4px;
    width: 53px;
    border-radius: 7px;
    height: 2px;
    background: linear-gradient(to top, #C67250, #9B5B9A);
  }
  .shopper-button{
    font-weight: 400;
    font-size: 16px;
  }
  .main-content{
    /* background: linear-gradient(to right, #F2F7FB, #FFFF); */
    background: #ffff;
    @apply w-screen overflow-x-hidden;
  }
  .login-modal{
    box-shadow: 0 0 95px 10px rgba(66, 139, 193, 0.1) !important;
    @apply hidden md:block absolute left-[8%] top-[38%] xl:top-[50%] 2xl:top-[55%] bg-white w-[25rem] rounded-xl shadow-sm z-50;
  }
  .login-modal h1, .welcome-back{
    font-size: 24px;
    font-weight: 700;
  }
  .login-modal span, p{
    color: #585858;
    font-size: 16px;
  }
  .login-modal span{
    font-weight: 300;
  }
  .login-modal p{
    font-weight: 700;
  }
  .form-input{
    @apply p-3 border-[1px] border-border_gray rounded-md
  }
  .footer-bottom{
    @apply relative !bottom-0 bg-footer !flex items-center justify-center w-full gap-4 flex-wrap h-[17rem];
  }
}
@media screen and (min-width: 770px){
  .footer-bottom{
    display: none !important;
  }
}
@media screen and (max-width: 630px){
  .desktop-navbar-item{
    display: none;
  }
}

@media screen and (min-width: 631px){
  .mobile-navbar-item{
    display: none;
  }
}